In [1]:
# The usual preamble
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Make the graphs a bit prettier, and bigger

plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['font.family'] = 'sans-serif'

One of the main problems with messy data is: how do you know if it's messy or not?

We're going to use the NYC 311 service request dataset again here, since it's big and a bit unwieldy.

In [93]:
df = pd.read_csv('../data/311-service-requests.csv', encoding = 'latin1', sep=',', float_precision='float', index_col = 'Unique Key')
df.head()

,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
Unique Key,,,,,,,,,,,,,,,,,,,,,
26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

# 7.1 How do we know if it's messy?

We're going to look at a few columns here. I know already that there are some problems with the zip code, so let's look at that first.
 
To get a sense for whether a column has problems, I usually use `.unique()` to look at all its values. If it's a numeric column, I'll instead plot a histogram to get a sense of the distribution.

When we look at the unique values in "Incident Zip", it quickly becomes clear that this is a mess.

Some of the problems:

* Some have been parsed as strings, and some as floats
* There are `nan`s 
* Some of the zip codes are `29616-0759` or `83`
* There are some N/A values that pandas didn't recognize, like 'N/A' and 'NO CLUE'

What we can do:

* Normalize 'N/A' and 'NO CLUE' into regular nan values
* Look at what's up with the 83, and decide what to do
* Make everything strings

plot unique values of incident zip

In [94]:
df_zip = df[['Incident Zip', 'Incident Address']]
df_zip.head()
#pd.unique(df_zip1)
#df_zip1[df_zip1 == 'NaN']

           Incident Zip  Incident Address
Unique Key
26589651          11432  90-03 169 STREET
26593698          11378         58 AVENUE
26594139          10032     4060 BROADWAY
26595721          10023    WEST 72 STREET
26590930          10027   WEST 124 STREET

In [95]:
#On extrait juste la colonne 'Incident Zip'. cette colonne fait 111069 ligne avec des doublons et des NaN
df_zip1 = df['Incident Zip']
df_zip1.head()

Unique Key
26589651    11432
26593698    11378
26594139    10032
26595721    10023
26590930    10027
Name: Incident Zip, dtype: object

La mÃ©thode duplicated(), retourne une series avec des boolÃ©e indiquant si chaque ligne est un doublon 
ou non.

In [66]:
df_zip1.duplicated()

La methode drop_duplicates() permet de supprimer les doublons.

In [96]:
df_zip2 = df_zip1.drop_duplicates()
df_zip2.head()

Unique Key
26589651    11432
26593698    11378
26594139    10032
26595721    10023
26590930    10027
Name: Incident Zip, dtype: object

In [97]:
df_zip3 = df_zip2.replace(np.NaN, 0)
df_zip3

Unique Key
26589651    11432
26593698    11378
26594139    10032
26595721    10023
26590930    10027
26592370    11372
26595682    11419
26595195    11417
26590540    10011
26594392    11225
26595176    11218
26591982    10003
26594169    10029
26594391    10466
26590917    11219
26591458    10025
26594086    10310
26595117    11236
26590389        0
26594210    10033
26592932    11216
26594152    10016
26591892    10305
26591573    10312
26590509        0
26594085    10026
26589201    10309
26591378    10036
26592976    11433
26590262    11235
            ...
26436109        0
26434008        0
26435004        0
26438539        0
26437278        0
26438852        0
26437673        0
26434045        0
26436497        0
26434218        0
26439679        0
26436890        0
26433427        0
26439076        0
26436508        0
26436708        0
26435504        0
26439253        0
26439075        0
26436117        0
26438286        0
26436707        0
26438476        0
26438475        0
26439266        0
26438285        0
26436601        0
26435911        0
26426901    10107
26427822        0
Name: Incident Zip, Length: 5387, dtype: object

TypeError: unsupported operand type(s) for +: 'float' and 'str'

# 7.2 Fixing the nan values and string/float confusion

We can pass a `na_values` option to `pd.read_csv` to clean this up a little bit. We can also specify that the type of Incident Zip is a string, not a float. Check that the values does not appear after loading

# 7.3 What's up with the dashes?

Likewise replace values with dash ('-') with nan

I thought these were missing data and originally deleted them like this:

`requests['Incident Zip'][rows_with_dashes] = np.nan`

But then my friend Dave pointed out that 9-digit zip codes are normal. Let's look at all the zip codes with more than 5 digits, make sure they're okay, and then truncate them.

Those all look okay to truncate to me.

Done.

Earlier I thought 00083 was a broken zip code, but turns out Central Park's zip code 00083! Shows what I know. I'm still concerned about the 00000 zip codes, though: let's look at that.

This looks bad to me. Let's set these to nan.

Great. Let's see where we are now:

Amazing! This is much cleaner. There's something a bit weird here, though -- I looked up 77056 on Google maps, and that's in Texas.

Let's take a closer look:

Okay, there really are requests coming from LA and Houston! Good to know. Filtering by zip code is probably a bad way to handle this -- we should really be looking at the city instead.

It looks like these are legitimate complaints, so we'll just leave them alone.

# 7.4 Putting it together

Here's what we ended up doing to clean up our zip codes, all together:

<style>
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    }
    div.cell{
        width:800px;
        margin-left:16% !important;
        margin-right:auto;
    }
    h1 {
        font-family: Helvetica, serif;
    }
    h4{
        margin-top:12px;
        margin-bottom: 3px;
       }
    div.text_cell_render{
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%;
        font-size: 130%;
        width:800px;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro,Consolas, monospace;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 22pt;
        color: #4057A1;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }